{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-primary">
                <div class="panel-heading">Projects Activity</div>
                <div class="panel-body">
                    {% for activity in activities %}
                        {% include 'OroIssueBundle:Activity/Renderer:' ~ activity.type ~ '.html.twig' with { 'activity': activity } %}
                    {% else %}
                        There are no activities
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Opened/Reopened Issues</div>
                <div class="panel-body">
                    {% if issues|length > 0 %}
                        <table class="table table-striped">
                            <col width="50" />
                            <col />
                            {% for issue in issues %}
                                <tr>
                                    <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{  issue.code }}</a></td>
                                    <td>{{ issue.summary|truncate(200, true) }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        There are no opened issues.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}