{% extends '::base.html.twig' %}

{% block toplinks %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class='link' href="{{ path('logout') }}">Logout</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <ul id="links">
        <li><a href="{{ path('user_list') }}">Users</a></li>
    </ul>
{% endblock %}